html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#info {
    background: white;
    box-shadow: 0 0 5px rgb(147, 144, 144);
    left: 4.5em;
    padding: 0.5em;
    position: absolute;
    top: 1em;
    z-index: 35;
}
#Email {
    background: white;
    box-shadow: 0 0 5px rgb(147, 144, 144);
    left: 0.5em;
    padding: 0.5em;
    position: absolute;
    bottom: 1.25em;
    z-index: 12.5;
}

#legendDiv {
    width: 360;
    height: 375px;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
    align-items: stretch;
}

img {
    object-fit: contain;
    width: 270px;
    height: 375px;
}